In [10]:
import collections

In [11]:
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

#collections.Counter
    will take only iterable objects

In [12]:
counts = {}
for i in ["a", "b", "c", "a", "b", "b"]:
    counts[i] = counts.get(i, 0) + 1

print(counts)

{'a': 2, 'b': 3, 'c': 1}

In [13]:
collections.Counter(["a", "b", "c", "a", "b", "b"])

Counter({'b': 3, 'a': 2, 'c': 1})

In [14]:
counts = {}
for each_chr in "python programming":
    counts[each_chr] = counts.get(each_chr, 0) + 1

print(counts)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, ' ': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

In [15]:
collections.Counter("python programming")

Counter({'p': 2,
         'o': 2,
         'n': 2,
         'r': 2,
         'g': 2,
         'm': 2,
         'y': 1,
         't': 1,
         'h': 1,
         ' ': 1,
         'a': 1,
         'i': 1})

In [16]:
collections.Counter({"a": 2, "b": 3, "c": 1})

Counter({'b': 3, 'a': 2, 'c': 1})

In [17]:
collections.Counter(a=2, b=3, c=1)

Counter({'b': 3, 'a': 2, 'c': 1})

In [18]:
colours = (
    ("Yasoob", "Yellow"),
    ("Ali", "Blue"),
    ("Arham", "Green"),
    ("Ali", "Yellow"),
    ("Yasoob", "Red"),
    ("Ahmed", "Silver"),
)

colours

(('Yasoob', 'Yellow'),
 ('Ali', 'Blue'),
 ('Arham', 'Green'),
 ('Ali', 'Yellow'),
 ('Yasoob', 'Red'),
 ('Ahmed', 'Silver'))

In [19]:
collections.Counter(colours)

Counter({('Yasoob', 'Yellow'): 1,
         ('Ali', 'Blue'): 1,
         ('Arham', 'Green'): 1,
         ('Ali', 'Yellow'): 1,
         ('Yasoob', 'Red'): 1,
         ('Ahmed', 'Silver'): 1})

In [20]:
[name for name, colour in colours]

['Yasoob', 'Ali', 'Arham', 'Ali', 'Yasoob', 'Ahmed']

In [21]:
collections.Counter(name for name, colour in colours)

Counter({'Yasoob': 2, 'Ali': 2, 'Arham': 1, 'Ahmed': 1})

In [22]:
collections.Counter(colour for name, colour in colours)

Counter({'Yellow': 2, 'Blue': 1, 'Green': 1, 'Red': 1, 'Silver': 1})

#### creating custom counter

In [23]:
c = collections.Counter()
print("Initial :", c)

Initial : Counter()

In [24]:
c.update("abcdaab")
print("Sequence:", c)

Sequence: Counter({'a': 3, 'b': 2, 'c': 1, 'd': 1})

In [25]:
c.update({"a": 1, "d": 5})
print("Dict    :", c)

Dict    : Counter({'d': 6, 'a': 4, 'b': 2, 'c': 1})

In [26]:
c = collections.Counter("abcdaab")

for letter in "abcde":
    print("%s : %d" % (letter, c[letter]))

a : 3
b : 2
c : 1
d : 1
e : 0

In [27]:
c = collections.Counter("extremely")
c["z"] = 0

print(c)

Counter({'e': 3, 'x': 1, 't': 1, 'r': 1, 'm': 1, 'l': 1, 'y': 1, 'z': 0})

In [28]:
c.keys()

dict_keys(['e', 'x', 't', 'r', 'm', 'l', 'y', 'z'])

In [29]:
c.values()

dict_values([3, 1, 1, 1, 1, 1, 1, 0])

In [30]:
c.items()

dict_items([('e', 3), ('x', 1), ('t', 1), ('r', 1), ('m', 1), ('l', 1), ('y', 1), ('z', 0)])

In [31]:
c.elements()

In [32]:
list(c.elements())

['e', 'e', 'e', 'x', 't', 'r', 'm', 'l', 'y']

In [33]:
c.update("daddy")

In [34]:
c.keys()

dict_keys(['e', 'x', 't', 'r', 'm', 'l', 'y', 'z', 'd', 'a'])

In [35]:
list(c.elements())

['e', 'e', 'e', 'x', 't', 'r', 'm', 'l', 'y', 'y', 'd', 'd', 'd', 'a']

##### Character frequency Analyses

In [37]:
import collections

c = collections.Counter()

print(f"Initially c:{c}")

with open(
    "myfile.txt", "rt"
) as f:
    data = f.read()
    print(type(data))
    c.update(data)

print(f"After     c:{c}")

print("Most common:")
for letter, count in c.most_common(5):
    print("%s: %7d" % (letter, count))

Initially c:Counter()
<class 'str'>
After     c:Counter({' ': 1056, 'e': 809, 't': 584, 'o': 487, 'i': 407, 'a': 390, 'r': 368, 's': 367, 'n': 356, 'm': 309, 'c': 276, '0': 266, 'd': 225, '\n': 214, 'h': 192, 'l': 188, 'p': 183, 'T': 161, 'S': 143, 'u': 141, '(': 138, ')': 138, '1': 137, ':': 123, '.': 110, 'M': 103, '\t': 101, 'D': 97, 'E': 95, ',': 93, 'y': 93, "'": 88, '-': 85, '/': 77, 'g': 75, 'C': 74, 'f': 73, 'v': 72, '2': 69, 'P': 63, '"': 56, 'A': 53, 'L': 52, 'b': 51, 'w': 50, 'x': 42, '9': 41, '6': 40, 'I': 40, 'U': 39, 'Y': 39, '4': 38, '3': 37, 'H': 37, '7': 36, 'O': 36, '_': 36, ';': 34, '5': 33, 'R': 33, 'F': 31, '8': 25, 'G': 24, 'N': 24, '%': 24, 'k': 21, '=': 21, 'Q': 18, '[': 16, ']': 16, '+': 16, 'W': 16, 'J': 15, 'z': 11, 'B': 11, 'X': 10, 'j': 10, '*': 10, 'V': 6, '&': 5, 'Z': 5, '{': 5, '}': 5, '?': 4, '#': 4, '@': 4, 'K': 3, '>': 3, '$': 3, '<': 2, '^': 1, '!': 1, 'q': 1, 'ñ': 1, '©': 1})
Most common:
 :    1056
e:     809
t:     584
o:     487
i:     407

### Arithmetic Operations on counters

In [38]:
c1 = collections.Counter(["a", "b", "c", "a", "b", "b"])
c2 = collections.Counter("alphabet")

In [39]:
print("c1:", c1)
print("c2:", c2)

c1: Counter({'b': 3, 'a': 2, 'c': 1})
c2: Counter({'a': 2, 'l': 1, 'p': 1, 'h': 1, 'b': 1, 'e': 1, 't': 1})

In [40]:
print("Combined counts:")
print(c1 + c2)

Combined counts:
Counter({'a': 4, 'b': 4, 'c': 1, 'l': 1, 'p': 1, 'h': 1, 'e': 1, 't': 1})

In [41]:
print("Subtraction:")
print(c1 - c2)

Subtraction:
Counter({'b': 2, 'c': 1})

In [42]:
print("Intersection (taking positive minimums):")
print(c1 & c2)

Intersection (taking positive minimums):
Counter({'a': 2, 'b': 1})

In [43]:
print("Union (taking maximums):")
print(c1 | c2)

Union (taking maximums):
Counter({'b': 3, 'a': 2, 'c': 1, 'l': 1, 'p': 1, 'h': 1, 'e': 1, 't': 1})

### collections.defaultdict
#### Factory Design Pattern

In [48]:
colours = (
    ("Yasoob", "Yellow"),
    ("Ali", "Blue"),
    ("Arham", "Green"),
    ("Ali", "Black"),
    ("Yasoob", "Red"),
    ("Ahmed", "Silver"),
)

from pprint import pprint

pprint(colours)

(('Yasoob', 'Yellow'),
 ('Ali', 'Blue'),
 ('Arham', 'Green'),
 ('Ali', 'Black'),
 ('Yasoob', 'Red'),
 ('Ahmed', 'Silver'))

In [46]:
collections.Counter(["apple", "ball", "cat", "dog", "cat"])

Counter({'cat': 2, 'apple': 1, 'ball': 1, 'dog': 1})

In [47]:
words = ["apple", "ball", "cat", "dog", "cat"]
word_count = collections.defaultdict(float)

for word in words:
    word_count[word] += 1

print(word_count)

defaultdict(<class 'float'>, {'apple': 1.0, 'ball': 1.0, 'cat': 2.0, 'dog': 1.0})

In [48]:
name = "Bubbles"
mydict = collections.defaultdict(int)
for i in name:
    mydict[i] += 1

print(mydict)

defaultdict(<class 'int'>, {'B': 1, 'u': 1, 'b': 2, 'l': 1, 'e': 1, 's': 1})

In [49]:
name = "Bubbles"
mydict = collections.defaultdict(int)
for i in name:
    mydict[i.lower()] += 1  # case insensitive

print(mydict)

defaultdict(<class 'int'>, {'b': 3, 'u': 1, 'l': 1, 'e': 1, 's': 1})

### collections.deque

Queue Mechanism

In [50]:
# initializing deque
de = collections.deque([1, 2, 3, 3, 4, 2, 4])

de

deque([1, 2, 3, 3, 4, 2, 4])

In [51]:
# inserts 4 at the end of deque
de.append(4)

print("The deque after appending at right is :\n", de)

The deque after appending at right is :
 deque([1, 2, 3, 3, 4, 2, 4, 4])

In [52]:
# inserts 6 at the beginning of deque
de.appendleft(6)

print("\nThe deque after appending at left is :\n", de)

The deque after appending at left is :
 deque([6, 1, 2, 3, 3, 4, 2, 4, 4])

In [53]:
# deletes 4 from the right end of deque
print(de.pop())

4

In [54]:
print("\nThe deque after deleting from right is :\n", de)

The deque after deleting from right is :
 deque([6, 1, 2, 3, 3, 4, 2, 4])

In [55]:
# deletes 6 from the left end of deque
print(de.popleft())

# printing modified deque
print("\nThe deque after deleting from left is:\n", de)

6

The deque after deleting from left is:
 deque([1, 2, 3, 3, 4, 2, 4])

In [56]:
# using count() to count the occurrences of 3
print("\nThe count of 3 in deque is:", de.count(3))

The count of 3 in deque is: 2

In [57]:
# using remove() to remove the first occurrence of 3
print(de.remove(3))

None

In [58]:
print("\nThe deque after deleting first occurrence of 3:")
print(de)

The deque after deleting first occurrence of 3:
deque([1, 2, 3, 4, 2, 4])

In [59]:
# adds 4,5,6 to right end
de.extend([4, 5, 6])
print("\nThe deque after extending deque at end is:\n", de)

The deque after extending deque at end is:
 deque([1, 2, 3, 4, 2, 4, 4, 5, 6])

In [60]:
# adds 7,8,9 to right end
de.extendleft([7, 8, 9])
print("\nThe deque after extending deque at beginning:\n", de)

The deque after extending deque at beginning:
 deque([9, 8, 7, 1, 2, 3, 4, 2, 4, 4, 5, 6])

In [61]:
# rotates by 3 to left
de.rotate(-3)
print("\nThe deque after rotating deque is:")
print(de)

The deque after rotating deque is:
deque([1, 2, 3, 4, 2, 4, 4, 5, 6, 9, 8, 7])

In [62]:
# using reverse() to reverse the deque
de.reverse()

In [73]:
print("\nThe deque after reversing deque is:")
print(de)

The deque after reversing deque is:
deque([7, 8, 9, 6, 5, 4, 4, 2, 4, 3, 2, 1])

In [63]:
# NOTE: below works in python 3 only
# using index() to print the first occurrence of 4
print("The number 4 first occurs at a position : ")
print(de.index(4, 2, 10))

The number 4 first occurs at a position :
5

In [64]:
# using insert() to insert the value 3 at 5th position
de.insert(4, 3)

In [65]:
de

deque([7, 8, 9, 6, 3, 5, 4, 4, 2, 4, 3, 2, 1])

###  collections.namedtuple

In [66]:
bob = ("Bob", 30, "male")
print("Representation:", bob)

Representation: ('Bob', 30, 'male')

In [67]:
jane = ("Jane", 29, "female")
print("\nField by index:", jane[0])

Field by index: Jane

In [68]:
print("\nFields by index:")
for p in [bob, jane]:
    print("%s is a %d year old %s" % p)

Fields by index:
Bob is a 30 year old male
Jane is a 29 year old female

Using collectsions.namedtuple

In [69]:
Person = collections.namedtuple("Person", "name age gender")

print("Type of Person:", type(Person))

Type of Person: <class 'type'>

In [70]:
bob = Person(name="Bob", age=30, gender="male")
print("\nRepresentation:", bob)

Representation: Person(name='Bob', age=30, gender='male')

In [71]:
jane = Person(name="Jane", age=29, gender="female")

jane

Person(name='Jane', age=29, gender='female')

In [72]:
type(jane)

__main__.Person

In [73]:
print("Field by index:", jane[0])
print("Field by name :", jane.name)

Field by index: Jane
Field by name : Jane

In [74]:
print("Field by index:", jane[2])
print("Field by name :", jane.gender)

Field by index: female
Field by name : female

In [75]:
print("\nFields by index:")
for p in [bob, jane]:
    print("%s is a %d year old %s" % p)

Fields by index:
Bob is a 30 year old male
Jane is a 29 year old female

In [76]:
try:
    collections.namedtuple("Person", "name class age gender")
except ValueError as err:
    print(err)

Type names and field names cannot be a keyword: 'class'

In [77]:
with_class = collections.namedtuple("Person", "name class age gender", rename=True)
print(with_class._fields)

('name', '_1', 'age', 'gender')

In [78]:
try:
    collections.namedtuple("Person", "name age gender age")
except ValueError as err:
    print(err)

Encountered duplicate field name: 'age'

In [79]:
two_ages = collections.namedtuple("Person", "name age gender age", rename=True)
print(two_ages._fields)

('name', 'age', 'gender', '_3')

In [80]:
colors = collections.namedtuple("colors", "r g b")
red = colors(r=255, g=0, b=0)

print("""red.r={} red.g={} red.b={} """.format(red.r, red.g, red.b))

red.r=255 red.g=0 red.b=0

In [81]:
print("red[0]          ", red[0])

print("getattr(red,'r')", getattr(red, "r"))
print("red.r           ", red.r)

red[0]           255
getattr(red,'r') 255
red.r            255

In [82]:
print(red._asdict())  # namedtuple into dictionary

{'r': 255, 'g': 0, 'b': 0}

In [83]:
# Iterable to namedtuple
print(colors._make(["1", "2", "3"]))

colors(r='1', g='2', b='3')

In [84]:
colors._make("123")

colors(r='1', g='2', b='3')

In [85]:
# dictionary to namedtuple
print(colors(**{"r": 255, "g": 0, "b": 0}))

colors(r=255, g=0, b=0)

In [86]:
# To check the fields belonging to a namedtuple
print(red._fields)

('r', 'g', 'b')

In [87]:
# namedtuples are immtuable, but to change a value in it
print(red._replace(g=3))

colors(r=255, g=3, b=0)

In [88]:
red  # Note that original named tuple is not changed

colors(r=255, g=0, b=0)

### Collections.OrderedDict

In [89]:
d1 = {"banana": 3, "apple": 4, "pear": 1, "orange": 2}

d1

{'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

In [90]:
d2 = collections.OrderedDict({"banana": 3, "apple": 4, "pear": 1, "orange": 2})

d2

OrderedDict([('banana', 3), ('apple', 4), ('pear', 1), ('orange', 2)])

In [91]:
assert d1 == d2

__NOTE:__ from python 3.5 onwards, the basic dictionary is ordered. So, collections.OrderedDict is of no use anymore.