# String Formatting

            - Types
                1. Old Style formatting (or literal formatting)
                2. New Style formatting
                3. F-Strings  ( works from python 3.6+)


    OLD-Style formatting
        %d - integer
        %i - integer

        %c - single char
        %s - string/char

        %f - floating-point
        %F - floating-point

        %o - octal
        %x - hexadecimal lowercase
        %X - hexadecimal uppercase

In [3]:

print("My lucky number is %d")
print("My lucky number is %d" % (12))
print("My lucky number is %i" % 12)

My lucky number is %d
My lucky number is 12
My lucky number is 12

In [3]:
print("My lucky number is %d" % 12.34)  # int(12.34)

My lucky number is 12

In [6]:
print("My lucky number is %f" % 12.34)
print("My lucky number is %f" % 12)  # float(12)
print("My lucky number is %f" % False)

My lucky number is 12.340000
My lucky number is 12.000000
My lucky number is 0.000000

In [7]:
print()  # str()
print("My lucky number is %s" % True)
print("My lucky number is %s" % None)
print("My lucky number is %s" % 1)
print("My lucky number is %s" % 13.4)
print("My lucky number is %s" % 133224234)
print("My lucky number is %s" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is python

In [8]:
print()  # repr()
print("My lucky number is %r" % True)
print("My lucky number is %r" % None)
print("My lucky number is %r" % 1)
print("My lucky number is %r" % 13.4)
print("My lucky number is %r" % 133224234)
print("My lucky number is %r" % "python")

My lucky number is True
My lucky number is None
My lucky number is 1
My lucky number is 13.4
My lucky number is 133224234
My lucky number is 'python'

In [ ]:
# %o octal
print("%o" % 34, oct(34))

# %x hexadecimal lowercase
print("%x" % 34, hex(34))

42 0o42
22 0x22

In [ ]:
# %b - binary python doesnt support %b 
print('%b' % (12), bin(12))
print( bin(12))

0b1100

In [11]:
print("%s" % "12")
print("%c" % "1")
print("%s" % "1")

12
1
1

In [12]:
print("%c" % "12")

TypeError: %c requires int or char

In [7]:
print("My name is %s. I am %d old paying a tax of %f" % ("Abhi", 99, 18.5))

My name is Abhi. I am 99 old paying a tax of 18.500000

In [ ]:
#The number 2 is padded with zeros to ensure it has 3 digits, resulting in 002.
print(
    "%(language)s has %(My lucky number)03d quote types."
    % {"language": "Python", "My lucky number": 2}
)
print(
    "%(language)s has %(My lucky number)03d quote types."
    % { "My lucky number": 2, "language": "Python"}
)

Python has 002 quote types.
Python has 002 quote types.

In [26]:
print("2".zfill(3))     # '002'
print("%03d" % 2)       # '002'
print("%3d" % 2)        # '  2'

002
002
  2

In [ ]:
# Limitations of old style string formatting
# 1. same data types need to be passed
# 2. If same value need to go more than one time, those many number of times, values need to be passed

# New-Style String formatting

In [ ]:
print("" % ())          # OLD Style
print("{}".format(""))  # New Style
# print(format("{}"))

d

In [10]:
print("{}".format("abhi"))         # 'abhi'
print("{{}}".format("abhi"))       # '{}' {{}} acts as a escape character
print("{{{}}}".format("abhi"))     # '{abhi}'

abhi
{}
{abhi}

In [33]:
print("{} and {}".format(None, True))
print("{0} and {1}".format(None, True))
print("{1} and {0}".format(None, True))

None and True
None and True
True and None

In [35]:
print("{0} and {0}".format(None))

None and None

In [13]:
# Assignment: how to take floating point value, and display in new style formating as integer, in the string

float_value = 12.34


string1 = "The integer value is {}".format(int(float_value))

print(string1)  # Output: The integer value is 12

The integer value is 12

In [ ]:
print("{:f}".format(math.pi))       # 3.141593  f means it should have 6 decimals
print("{:9f}".format(math.pi))      # 3.141593 9f means the output must have 9 width
print("{:9.3f}".format(math.pi))    #    3.1429 width with three decimals

3.141593
 3.141593
    3.142

In [47]:
# To multiply number with 100 and show % in result
print("{:%}".format(math.pi))   # 314.159265%
print("{:%}".format(7))         # 700.000000%

314.159265%
700.000000%

## real-world Bank transaction

In [56]:
# Method 1
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!!!
         """.format(
        customer="Vijay Malya",
        accound_last_4_digits=1134,
        transaction_amount="20.5 crores",
        transaction_time="12th June 1947 12:34:45",
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!!!

In [ ]:
# Method 2
result = {
    "customer": "Vijay Malya",
    "accound_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
}

print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format(
        result  # dictionary unpacking
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [16]:
# Method 2
result = { 
    "customer": "Vijay Malya",
    "accound_last_4_digits": 1134,
    "transaction_amount": "20.5 crores",
    "transaction_time": "12th June 1947 12:34:45",
} #it is a dictionary

print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format(
        **result  # dictionary unpacking
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

In [59]:
# Method 3
print(
    """
        Dear {customer},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format_map(
        result
    )
)

        Dear Vijay Malya,
                Your account ending with 1134 was
                deducted 20.5 crores on 12th June 1947 12:34:45.

        Thank you for shopping. Visit again!

# f_strings

In [61]:
print("Hello {name}")

Hello {name}

In [ ]:
print("Hello {name}".format(name="world")) # name is only a label, not a variable

Hello world

In [66]:
name = "World" # variable; not label
print("Hello {name}")
print(f"Hello {name}")

Hello {name}
Hello World